# IDEs
.idea/
.vscode/

# mac system
.DS_Store

# experiments and temp
/scratch.js
/server.js
scratch/
/crud-routes.js
src/server-requests.js

/.babelrc
/.babelrc.js
/babel.config.js
/babel.config.json

/jest.config.js

coverage/
archive/

# node.js
node_modules/

# npm related not strictly necessary to track
/package-lock.json

# yarn related not strictly necessary to track
/yarn.lock
.yarn/
/.yarnrc.yml
/.yarn-debug.log
/.yarn-error.log

# eslint cache
/.eslintcache
package-lock.json

