#cards-grid-container {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  #cards-grid-container {
    padding: 3rem 0;
  }

  #cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 1200px;
  }
}
