#cartItems {
  margin-bottom: 20px;
  width: 100%;
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

#cartTotal {
  text-align: right;
}

.cart-content {
  padding: 20px;
  text-align: left;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-content h1 {
  color: var(--color-secondary--dark);
  margin-bottom: 20px;
  font-weight: 600;
}

#clearCartButton {
  background-color: transparent;
  border: 1px solid #800000;
  color: #800000;
  cursor: pointer;
  padding: 5px 10px;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-secondary--dark);
}

.cart-item-details {
  font-size: 14px;
  color: var(--color-secondary--dark);
}

.cart-item button {
  background-color: var(--color-primary);
  color: var(--color-text--dark-bg);
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cart-item button:hover {
  background-color: var(--color-secondary--dark);
}

.cart-total-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-secondary--dark);
  margin: 20px 0;
}

.cart-total-container span {
  font-weight: bold;
  text-align: right;
}

#checkoutButton {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-text--dark-bg);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#checkoutButton:hover {
  background-color: var(--color-secondary--dark);
}

.cart-notification {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-accent--warm);
  color: var(--color-text--dark-bg);
  padding: 1em 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-shadow);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  font-size: 1.5em;
}

.cart-notification.show {
  opacity: 1;
  visibility: visible;
}
