.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.overlay__content {
  background-color: var(--color-background);
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  padding: 32px;
  box-shadow: 0 12px 28px var(--color-shadow);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  color: var(--color-secondary--dark);
  max-height: 90vh;
  overflow-y: auto;
}

.overlay-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-secondary--dark);
  font-size: 0;
}

.overlay-close-button svg {
  width: 26px;
  height: 26px;
  stroke: var(--color-secondary--dark);
}

.overlay-close-button:hover svg {
  stroke: var(--color-primary);
}

.overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.overlay__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-secondary--dark);
  text-align: center;
  margin-bottom: 0;
}

.overlay__body {
  padding: 16px 0;
}

.overlay__image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 0 1em 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.overlay__price {
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.overlay__description {
  font-size: 1rem;
  color: var(--color-secondary--dark);
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

/* General section styling */
.overlay__section {
  display: flex;
  flex-direction: column;
}

.overlay__section--comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* Labels for size, theme, and flavor */
.overlay__label,
.overlay__sizeLabel,
.overlay__themeLabel,
.overlay__flavorLabel {
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--color-secondary--dark);
}

/* Select inputs for size, theme, and flavor */
.overlay__sizeSelect,
.overlay__themeSelect,
.overlay__flavorSelect {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  background-color: var(--color-accent--cold);
  color: var(--color-secondary--dark);
  margin-bottom: 20px;
}

.overlay__textarea {
  resize: vertical;
  min-height: 80px;
  padding: 12px;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  background-color: var(--color-accent--cold);
  color: var(--color-secondary--dark);
}

.overlay-footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.overlay__quantity-input {
  width: 80px;
  padding: 12px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  background-color: var(--color-background);
  color: var(--color-secondary--dark);
}

.overlay-button {
  padding: 14px;
  background-color: var(--color-primary);
  color: var(--color-text--dark-bg);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.overlay-button:hover {
  background-color: var(--color-secondary--light);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Container for arranging elements side by side */
.overlay__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px; /* Adjust the gap between sections as needed */
}

/* Adjusted width for half-width sections */
.overlay__section--half {
  flex: 1;
}

/* Ensure the select elements take full width of their containers */
.overlay__section--half .overlay__themeSelect,
.overlay__section--half .overlay__sizeSelect {
  width: 100%;
}

/* Adjust label alignment if necessary */
.overlay__section--half .overlay__themeLabel,
.overlay__section--half .overlay__sizeLabel {
  margin-bottom: 8px;
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
  .overlay__row {
    flex-direction: column;
  }

  .overlay__section--half {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .overlay-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .overlay__input {
    width: 100px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
