.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--color-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--color-shadow);
}

.product-card__header {
  position: relative;
  cursor: pointer;
}

.product-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid var(--color-border);
}

.product-card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color-text--dark-bg);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.product-card__price {
  font-size: 1.2rem;
  color: var(--color-secondary--dark);
  font-weight: bold;
}

.product-card__button-add {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  color: var(--color-text--dark-bg);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.product-card__button-add:hover {
  background-color: var(--color-secondary--light);
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  fill: currentColor;
}

.product-card--inactive {
  background-color: #333;
  color: #fff;
  opacity: 0.5;
}

.product-card--inactive .product-card__header {
  pointer-events: none;
}

.product-card--inactive .product-card__image {
  filter: grayscale(100%);
}

.product-card__button-add[disabled] {
  background-color: #555;
  color: #999;
  cursor: not-allowed;
}


@media (min-width: 768px) {
  .product-card {
    flex-direction: column;
  }
}
