:root {
  --color-background: #e8d9c6;
  --color-background-alt: #b7cdb5;
  --color-primary: #365042;
  --color-secondary--dark: #1a211b;
  --color-secondary--light: #aab5ab;
  --color-accent--cold: #ebe8e1;
  --color-accent--warm: #ffcc80;
  --color-text--light-bg: rgba(0, 0, 0, 0.7);
  --color-text--dark-bg: rgba(255, 255, 255, 0.97);
  --color-shadow: rgba(0, 0, 0, 0.7);
  --color-border: #365042;
}
